.boton-limpiar {
    width: 100%;
    height: 75px;
    font-size: 24px;
    color: aliceblue;
    background-color: cadetblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s all ease;
}
.boton-limpiar:hover {
    font-size: 26px;
    background-color: rgb(52, 114, 116);
}