.input {
    width: 100%;
    height: 75px;
    background-color: #1b1b32;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: auto;
}