:root {
  font-family: Loto, sans-serif;
  color: antiquewhite;
  background-color: #1b1b32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  position: relative;
  width: 80%;
  text-align: center;
}

.main {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculadora {
  width: 400px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
}
.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__a {
  text-decoration: none;
  list-style: none;
  font-size: 11px;
  color: antiquewhite;
}